@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");

* {
  padding: 0;
  margin: 0;
}
html,
body {
  font-family: "Chewy", system-ui;
  background-color: #252626;
  height: 100%;
}

header {
  text-align: center;
  padding: 20px;
  color: #1c856a;
  border-bottom: 1px solid gray;
}

header > h1 {
  font-size: 5em;
}

header > p {
  font-size: 1.5em;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-con {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container {
  display: grid;
  gap: 20px;
  transition: all 0.3s ease;
  grid-template-columns: 250px 250px;
  grid-template-rows: 200px 200px;
}
.container > div {
  background-color: #141414;
  border: 1px solid gray;
}

.restart {
  padding: 10px 50px;
  border-radius: 5px;
  font-family: "Chewy";
  cursor: pointer;
  background-color: #1c856a;
  color: white;
  font-size: large;
  border: none;
  transition: all 0.3s ease;
}

.restart:active {
  background-color: #0f6650;
  transition: scale(1.95);
}

.sub-container {
  margin: auto;
}

